@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin pseudo($display: block, $position: absolute) {
	position: $position;
	display: $display;
	content: '';
}

// Списки
@mixin nl {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style: none;
	list-style-position: outside;
}

// Изображения
@mixin bg($isCover: true) {
  @if ($isCover) {
    object-fit: cover;
    object-position: center;
  }

  @else {
    object-fit: contain;
  }
}

@mixin image-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  @include bg;
}

@mixin image-cont($percent: 57.05%) {
  position: relative;

  &::before {
    @include pseudo(block, static);

    padding: $percent 0 0;
  }
}